/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b31942;
  --ifm-color-primary-dark: #e68700;
  --ifm-color-primary-darker: #d98000;
  --ifm-color-primary-darkest: #b36900;
  --ifm-color-primary-light: #ffa11a;
  --ifm-color-primary-lighter: #ffa626;
  --ifm-color-primary-lightest: #ffb64d;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.hero__title,.title_f1Hy {
    font-size: 3rem;
    color: #b31942;
    font-family: serif;
}

.hero__subtitle {
    font-size: 1.5rem;
    color: beige;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] .hero__title,.title_f1Hy {
  color: white;
}

html[data-theme='dark'] .hero__subtitle {
  color: red;
}

/* PROUDAMERICA CSS */

.navbar--fixed-top {
    position: sticky;
    top: 0;
    z-index: var(--ifm-z-index-fixed);
    background-color: #0A3161;
}

.announcementBarContent_xLdY,.navbar__title {
    flex: 1 1 auto;
    color: beige;
}

.navbar__brand,.navbar__link {
    color: #b8b8b8;
}

.navbar__link--active,.navbar__link:hover {
    color: #B31942;
    text-decoration: none
}

* {
    box-sizing: border-box;
    /* color: #B31942; */
    color: #b31942
}

.hero--primary {
    --ifm-hero-background-color: #0a3161;
    --ifm-hero-text-color: var(--ifm-font-color-base-inverse)
}

main {
    padding: 2rem 3em;
    background-color: beige;
}

.footer--dark {
    --ifm-footer-background-color: #b31942;
    --ifm-footer-color: var(--ifm-footer-link-color);
    --ifm-footer-link-color: var(--ifm-color-secondary);
    --ifm-footer-title-color: var(--ifm-color-white)
}

.mainWrapper_z2l0 {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background-color: beige;
}

.footer__copyright {
color: beige;
}

a {
    color: #b31942;
    text-decoration: var(--ifm-link-decoration)
}

a:hover {
    color: #0A3161;
    text-decoration: var(--ifm-link-hover-decoration)
}

.title_f1Hy,html[data-theme=dark] .hero__subtitle,html[data-theme=dark] .hero__title {
    color: #b31942;
}

.footer__link-item:hover {
    color: #0a3161;
}

/* DARK MODE PROUDAMERICAUS */

[data-theme='dark'] {
  --ifm-color-primary: #b31942;
  --ifm-color-primary-dark: #e68700;
  --ifm-color-primary-darker: #d98000;
  --ifm-color-primary-darkest: #b36900;
  --ifm-color-primary-light: #ffa11a;
  --ifm-color-primary-lighter: #ffa626;
  --ifm-color-primary-lightest: #ffb64d;
  --ifm-code-font-size: 95%;
}

.announcementBarContent_xLdY,.navbar__title {
    color: beige;
    flex: 1 1 auto;
    font-family: serif;
}


